<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1 width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/svg" sizes="128x128" href="icons/icon-tinymon.svg">
  <link rel="icon" type="image/svg" sizes="96x96" href="icons/icon-tinymon.svg">
  <link rel="icon" type="image/svg" sizes="32x32" href="icons/icon-tinymon.svg">
  <link rel="icon" type="image/svg" sizes="16x16" href="icons/icon-tinymon.svg">
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8389280772723807" crossorigin="anonymous"></script>
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>